body {
    font-family: Product Sans;
    font-size: 20px;
}

main {
    margin-top: 200px;
}

.center-conteiner {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#inputbutton {
    background: transparent;
    border-radius: 20px;
    height: 34px;
    width: 487px;
    font-size: 16px;
    padding-left: 40px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    border: 1px groove #555555;
}
#inputbutton:focus {
    outline: none;
}
#inputbutton:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 3px 3px 9px 3px;
}

.iconoinput {
    color: #9aa0a6;
    font-size: 15px;
    position: relative;
    left: 60px;
    padding: 10px;
    margin-top: 18px;
}

.buttonclass {
    padding: 6px 16px 6px 16px;
    margin-left: 10px;
    background-color: rgb(248, 249, 250);
    border: none;
    border-radius: 5px;
}

.buttonclass:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    border-radius: 5px;
}

#ofrecido {
    line-height: 28px;
    font-size: 14px;
}


.linktop {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    margin: 6px 9px 0px 6px;
    cursor: pointer;
    font-size: 14px;
}
.topnav {
    display: flex;
    justify-content: flex-end;
}
.topnav a:hover {
    text-decoration: underline;
}
.profilepic {
    width: 32px;
    height: 32px;
}
.profilepic:hover {
    box-shadow: 5px 10px #888888;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: rgb(34, 34, 34);
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial, sans-serif;
  }
footer a {
    text-decoration: none;
    color: #70757a;
}

footer a:hover {
    text-decoration: underline;
}

.leftfooter {
    display: flex;
    float: left;
    justify-content: flex-start;
}

.leftinfo {
    margin: 10px 10px 10px 10px;
}

.rightfooter {
    display: flex;
    justify-content: flex-end;
}

.rightinfo {
    margin: 10px 10px 10px 10px;
}

.argentina {
    background-color: #f2f2f2;
    color: #70757a;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.bottomfooter {
    border-top: 1px ridge #70757a67;
}